// colors

$colorBg: #ffffff; /// #D7D7D7
$colorWhite: #ffffff;
$colorDarkGray: #343434;
$colorBlack: #000000;
$colorNav: #7D7D7D;
$colorBlue: #3EC6FF;

// size

$view-port: 1175px;
$heightNav: 115px;


