// colors

$colorBg: #ffffff; /// #D7D7D7
$colorWhite: #ffffff;
$colorDarkGray: #343434;
$colorBlack: #000000;
$colorNav: #7D7D7D;
$colorBlue: #3EC6FF;
$colorBlueRgba1: rgba(62, 198, 255, 0.8);
$colorBlueRgba2: rgba(62, 198, 255, 0.2);
$colorPlacenholder: #BCBCBC;
$heightInputHeader: 50px;
$colorOrange: #FA9D4C;


// size

$view-port: 1175px;
$heightNav: 115px;


