@import "partials/media";
@import "partials/mixins";
@import "partials/params";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Sarabun:400,700');

body {
    background-color: $colorBg;
}

a {
    text-decoration: none;
}

.view-port {
    max-width: $view-port;
    background-color: $colorBg;
}

.lineBlock {
    border-top: 1px dashed #777777;
    width: 100%;
    height: 1px;
    margin: 15px auto;
}

h1, h2, span {
    font-family: 'Sarabun', sans-serif;
}

.mainWrap {
    position: absolute;
    z-index: 200;
    margin-top: 100vh;
    background-color: $colorBg;
    width: 100%;
}