@import "partials/media";
@import "partials/mixins";
@import "partials/params";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Sarabun:400,700');

body {
    background-color: $colorBg;
}

a {
    text-decoration: none;
}

.view-port {
    max-width: $view-port;
    background-color: $colorBg;
}

.lineBlock {
    border-top: 1px dashed #777777;
    width: 100%;
    height: 1px;
    background-color: $colorBg;
    
}

h1, h2, span {
    font-family: 'Sarabun', sans-serif;
}

.mainWrap {
    position: absolute;
    z-index: 200;
    margin-top: 100vh;
    background-color: none;
    width: 100%;
    @include mobile {
        margin-top: 60px;
    }
}

.checkbox {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
    input {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

.radioBox {
    .radio {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        border: 1px solid #ccc;
        margin-bottom: 10px;

        box-sizing: border-box;
        input {
            width: 20px;
            height: 20px;
            opacity: 0;
            cursor: pointer;
        }
    }
}

// стили для ползунка

.polzunok-container-5 * {
    box-sizing: border-box;
    outline: none;
}
.polzunok-container-5 {
    padding: 15px 17px 0;
    margin: 0px;
}
.polzunok-container-5:after {
    content: "";
    clear: both;
    display: table;
}
.polzunok-container-5 .ui-slider {
    position: relative;
    background: $colorOrange;
    height: 10px;
    border-radius:3px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(255, 255, 255, 1);
}
.polzunok-container-5 .ui-slider .ui-slider-handle {
    position: absolute;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid $colorBlue;
    top: -5px;
    background: #FFF;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.2s, border 0.4s;
}
.polzunok-container-5 .ui-slider .ui-slider-handle:hover,
.polzunok-container-5 .ui-slider .ui-slider-handle:focus {
    transform: scale(1.2);
    border: 4px solid $colorOrange;
}

.polzunok-container-5 .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 10px;
    border: 0;
    background: $colorBlue;
    border-radius:5px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 1px 1px 5px rgba(255, 255, 255, 1);
}
.polzunok-container-5-wrap {
    display: flex;
    justify-content: space-between;
    input {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 600;
        color: $colorNav;
        border: 1px solid $colorNav;
        border-radius: 3px;
        padding: 5px 0;
    }
    .polzunok-input-5-left {
        width: 60px;
        position: relative;
        margin-top: 20px;
        left: -8px;
    }
    .polzunok-input-5-right {
        width: 60px;
        position: relative;
        margin-top: 20px;
        left: 8px;
    }
}

/* select css Serhii Prudkiy */

/* ! необходимо указать высота списка выбора */

@keyframes selectHide {
    from {
        height: 100%;
    } /* укажи реальную высоту */
    to {
        height: 0px;
    }
}
@keyframes selectShow {
    from {
        height: 0px;
    }
    to {
        height: 100%;
    } /* укажи реальную высоту */
}

.selectPS, ul, li, input {
    margin: 0;
    padding: 0;
    display: block;
}
.selectPS {
    position: relative;
}
.selectPSI__hideOption {
    animation-name: selectHide;
    animation-duration: 400ms; /* скорость скрытия элементов */
    animation-timing-function: linear;
    animation-direction: normal;
    height: 0px;
}
.selectPSI__showOption { /* скорость показа элементов */
    animation-name: selectShow;
    animation-duration: 300ms;
    animation-timing-function: linear;
    height: 100%; /* укажи реальную высоту */
}
.selectPSI--wrap {
    position: relative;
}
.selectPS ul {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.selectPS input {
    outline: none;
    cursor: pointer;
}
/* остальные стили */

.custom { /* настройки обложки списка выбора, тег ul */
    display: block;
}