@import "partials/media";
@import "partials/mixins";
@import "partials/params";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Sarabun:400,700');

body {
    background-color: $colorBg;
}

a {
    text-decoration: none;
}

.view-port {
    max-width: $view-port;
}

h1, h2 {
    font-family: 'Sarabun', sans-serif;
}

.mainWrap {
    position: absolute;
    z-index: 200;
    margin-top: 100vh;
    background-color: $colorBg;
    height: 1000px; // !!!!!!!!!!!!!!!!!!!!
    width: 100%;
}