@import "partials/media";
@import "partials/mixins";
@import "partials/params";

@keyframes displayBlock {
    from {display: none;}
    to {display: block;}
}

$bgcWrapSelectWrap: #D8D8D8;

.selectTravelWrap {
    width: 100%;
    height: 100%;
    background-color: $bgcWrapSelectWrap;
}

.selectTravel {
    display: flex;
    margin: 0 auto;
    padding-top: 45px;
    justify-content: baseline;
    background-color: $bgcWrapSelectWrap;
    &__filter {
        width: 268px;
        &__blockSelect {
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            p {
                cursor: pointer;
                padding: 13px 0 13px 10px;
                width: 100%;
                background-color: #ffffff;
                box-sizing: border-box;
                font-family: 'Roboto', sans-serif;
                font-size: 13px;
                font-weight: 600;
                color: $colorNav;
                position: relative;
                display: block;
                span {
                    position: absolute;
                    right: 20px;
                    top: 17px;
                    transition: all 0.3s ease-in-out;
                    transform: rotate(0deg);
                    width: 10px;
                    height: 6px;
                    background-image: url('../img/arrow-down.png');
                }
                &:hover {
                    color: $colorDarkGray;
                }
            }
            &__punkt {
                background-color: #F6F6F6;
                padding: 10px 2%;
                width: 100%;
                box-sizing: border-box;
                transition: all 0.3s;
                position: relative;
                top: -1px;
                ul {
                    padding-left: 10px;
                    li {
                        font-family: 'Roboto', sans-serif;
                        font-size: 14px;
                        padding-bottom: 5px;
                        color: #777;
                        cursor: pointer;
                        &:hover {
                            color: #444;
                        }
                        &:last-child {
                            padding: 0;
                        }
                    }
                }
            }
            &:first-child {
                margin: 0;
            }
        }
        .hide {
            height: 0px;
            overflow: hidden;
            padding: 0 2%;
            margin: 0;
            border: none;
        }
        .show {
            height: auto;
        }
        &__blockCheck {
            background-color: #fff;
            width: 100%;
            margin: 14px 0;
            padding: 13px 0 11px;
            display: flex;
            flex-direction: column;
            &--wrap {
                display: flex;
               font-family: 'Roboto', sans-serif;
                    font-size: 13px;
                    font-weight: 600;
                    color: $colorNav; align-items: flex-start;
                transition: all 0.2s;
                &:hover p {
                    color: $colorDarkGray;
                }
                p {
                    
                    position: relative;
                    top: 5px;
                    margin-left: 10px;
                }
                input {
                    cursor: pointer;
                }
            }
            .radioBoxWrap {
                display: flex;
                flex-direction: column;
                .radio {
                    &--wrap {
                        height: 20px;
                        display: flex;
                        margin-left: 10px;
                        margin-bottom: 10px;
                        p {
                            display: flex;
                            padding-left: 10px;
                            align-items: center;
                            font-family: 'Roboto', sans-serif;
                            font-size: 13px;
                            font-weight: 600;
                            color: $colorNav;
                        }
                    }
                }
                
            }
            .polzunok-container-5-title {
                font-family: 'Roboto', sans-serif;
                font-size: 17px;
                font-weight: 600;
                color: $colorNav;
                padding-left: 10px;
            }
        }
    }
    &__wrapTravel {
        display: flex;
        flex-wrap: wrap;
        width: 945px;
        &__karta {
            display: flex;
            flex-direction: column;
            width: 270px;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 3px;
            margin: 0;
            margin-bottom: 35px;
            margin-left: 35px;
            transition: all 0.3s;
            box-shadow: 0 0 8px #777777;
            &:hover {box-shadow: 0 0 8px #444444;}
            &__title {
                display: flex;
                flex-wrap: wrap;
                width: 96%;
                height: 50px;
                justify-content: center;
                margin: 0 auto;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                padding: 8px 0;
                h2 {
                    width: 60%;
                    display: flex;
                    align-items: flex-end;
                    color: $colorDarkGray;
                    padding-bottom: 2px;
                }
                div {
                    width: 40%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    padding-bottom: 2px;
                   span {
                    width: 15px;
                    height: 15px;
                    display: block;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    margin-right: 3px;
                    &:last-child {
                        margin: 0;
                    }
                }
                .star {
                    background-image: url('../img/star.png');
                }
                .star05 {
                    background-image: url('../img/star0-5.png');
                }
                }
                h3 {
                    width: 60%;
                    color: $colorDarkGray;
                }
                p {
                    width: 40%;
                    text-align: right;
                    color: $colorNav;
                }
            }
            &__img {
                width: 270px;
                img {
                    width: 270px;
                    height: 100%;
                }
            }
            &__text {
                p {
                    font-size: 13px;
                    font-family: 'Roboto', sans-serif;
                    padding: 18px;
                    color: #A2A2A2;
                    text-align: center;
                }
            }
            &__but {
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                width: 96%;
                padding-bottom: 15px;
                div:first-child {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                div:last-child {
                    div {
                        button {
                            @include buttonBlue;
                            width: 150px;
                            height: 40px;
                        }
                    }
                }
                &--face {
                    width: 24px;
                    height: 24px;
                    margin-bottom: 5px;
                    background-image: url('../img/face.jpg');
                }
                &--faceText {
                    font-size: 13px;
                    font-family: 'Roboto', sans-serif;
                    color: #A2A2A2;
                }
            }
        }
    }
    &__nav {
        width: 100%;
        height: 40px;
        padding: 0;
        background-color: #ffffff;
        border-radius: 4px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        img {
            width: 13px;
            height: 27px;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
        &__leftNav {
            width: 13px;
            height: 27px;
            position: relative;
            left: 20px;
        }
        &__number {
            display: flex;
            justify-content: center;
            span {
                font-family: 'Roboto', sans-serif;
                color: $colorNav;
                font-size: 14px;
                margin: 0 8px;
                cursor: pointer;
                padding: 4px 6px;
                box-sizing: border-box;
            }
            &--active {
                border: 1px solid $colorBlue;
            }
        }
        &__rightNav {
            width: 13px;
            height: 27px;
            position: relative;
            right: 20px;
            img {
                transform: rotate(180deg)
            }
        }
    }
}

